
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    backgroundcolor="green"
    <div> 
        <h1>hello this is my about page </h1>
        @{ 
            int a = 10;
            int b = 10;
            int sum = a*b;
        }
        <h1>@sum</h1>
        <a>@@rm895313@gmail.com</a>
    </div>
</body>
</html>
