@model MVC_Ragistration.Models.Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>This index Page</h1>
        @Html.DisplayName("manish")
        <br />
        <br />
        @Html.DisplayNameFor(x => x.name)
        <br />
        <br />
        @Html.DisplayText("Nmae")
        <br />
        <br />

    </div>
</body>
</html>
