
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JCLASS</title>
</head>
<body>
    <div>
        <input type="button" value=" JSON Submit" onclick="JsonGet()" />

    </div>
</body>
</html>
