@model mvcs2.Models.Btps
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>@Model.id</h1>

        <h1>@Model.name</h1>
        <h1>@Model.address</h1>

        @Html.ActionLink("Go to about page","about")

    </div>
</body>
</html>
