
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <h1>Login Successfully</h1>
    </div>
    <h1>
    @Html.ActionLink("Go to Registration page", "Index")
    </h1>                                                   
</body>
</html>
