
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginByFormCollection</title>
</head>
<body>
    <div> 
        <h1>Login By FormCollection</h1>

    </div>
</body>
</html>
