
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>btps</title>
</head>
<body>
    <div> 
        <h1> this is a btps page in contect views ......</h1>
        <h1> Date Time  @DateTime.Now</h1>
        <h1> only  Date @DateTime.Today</h1>
        <h1>    @DateTime.UtcNow</h1>
        <h1> @DateTime.Now.Hour </h1>
    </div>
</body>
</html>
