
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
</head>
<body>
    
        <div>
            <h1 style="background-color:red;color:white">Header</h1>
        </div>
        <div>
             @RenderBody()
    </div>
        <div>
            <h1 style="background-color:green;color:white">Footer</h1>
        </div>
</body>
</html>
