
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>aboutcshtml</title>
</head>
<body>
    
    <div> 
        <h1> @DateTime.Today</h1>
    </div>
</body>
</html>
