
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>this is a btps page in contact view.......</h1>
        <h1>Date Time @DateTime.Now</h1>
    </div>
</body>
</html>
